In [2]:
import os
import pathlib

ROOT_PATH = pathlib.Path(__name__).resolve().parent.parent
print(ROOT_PATH)
RANDOM_SEED = 42

/Users/andrey/PycharmProjects/vector-search-hse

In [3]:
os.chdir(ROOT_PATH)
os.getcwd()

'/Users/andrey/PycharmProjects/vector-search-hse'

In [4]:
# Загрузка лейблов
import pandas as pd

df = pd.read_csv(ROOT_PATH / 'data' / 'raw_labels.tsv', sep='\t')
df = df.drop(columns=['Комментарий'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           322 non-null    object
 1   video_name   322 non-null    object
 2   text_labels  322 non-null    object
dtypes: object(3)
memory usage: 7.7+ KB

In [7]:
len(df.video_name.unique())

322

In [8]:
df = df[df['text_labels'].isna() == False]
df['tags'] = df['text_labels'].apply(lambda x: {w.strip() for w in x.split(',')})
tags_df = df[['video_name', 'tags']].explode('tags')
tags_df.columns =  ['video_name', 'tag_ru']

In [9]:
!pip install deep-translator

Requirement already satisfied: deep-translator in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (1.11.4)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from deep-translator) (4.14.2)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from deep-translator) (2.32.5)
Requirement already satisfied: soupsieve>1.2 in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/andrey/.pyenv/versions/3.12.11/lib/python3.12/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2025.11.12)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [10]:
from deep_translator import GoogleTranslator

translator = GoogleTranslator(source='ru', target='en')

def translate(text: str) -> str:
    translated = translator.translate(text)
    return translated

In [11]:
from tqdm import tqdm

tags_ru = set(tags_df['tag_ru'].values)

print('Total tags:', len(tags_ru))

tags_map = {}
for tag in tqdm(tags_ru):
    translated_tag = translate(tag)
    tags_map[tag] = translated_tag

Total tags: 299

100%|██████████| 299/299 [00:50<00:00,  5.96it/s]

In [16]:
tags_df['tag_en'] = tags_df['tag_ru'].map(tags_map)
tags_df.head()

     video_name   tag_ru    tag_en
0  IMG_0903.MOV   космос     space
0  IMG_0903.MOV      усы  mustache
0  IMG_0903.MOV  мужчина       man
0  IMG_0903.MOV     NASA      NASA
1  IMG_0718.MOV    актёр     actor

In [18]:
# Подсчет статистики по тегам
tags_df['tag_en'].value_counts(normalize=True, ascending=False)

tag_en
man         0.117124
woman       0.050889
glasses     0.042003
food        0.040388
mustache    0.034733
              ...
cars        0.000808
alpaca      0.000808
cosplay     0.000808
ladle       0.000808
sandwich    0.000808
Name: proportion, Length: 290, dtype: float64

In [19]:
selected_tags = tags_df[tags_df['tag_en'].isna() == False]

In [20]:
# Сохранение тегов
selected_tags.to_parquet('data/tags.parquet', index=False)

In [18]:
test_queries = tags_df.groupby('tag_en')['video_name'].agg(list).reset_index()
test_queries['ttl_videos'] = test_queries['video_name'].apply(lambda x: len(x))

test_queries = test_queries[test_queries['ttl_videos'] > 10]
test_queries

,tag_en,video_name,ttl_videos
17,People,"[IMG_1002.MOV, IMG_0719.MOV, IMG_0928.MOV, IMG...",23
30,animal,"[IMG_1823.MOV, IMG_1016.MOV, IMG_0731.MOV, IMG...",35
48,beard,"[IMG_1177.MOV, IMG_0928.MOV, IMG_1834.MOV, IMG...",30
67,car,"[IMG_1564.MOV, IMG_1835.MOV, IMG_0726.MOV, IMG...",22
69,cartoon,"[IMG_1767.MOV, IMG_0874.MOV, IMG_1564.MOV, IMG...",23
70,cat,"[IMG_0733.MOV, IMG_0732.MOV, IMG_1563.MOV, IMG...",17
85,computer game,"[IMG_1404.MOV, IMG_1100.MOV, IMG_0752.MOV, IMG...",12
88,cooking,"[IMG_1834.MOV, IMG_1767.MOV, IMG_1561.MOV, IMG...",36
102,dog,"[IMG_0731.MOV, IMG_0733.MOV, IMG_1558.MOV, IMG...",19
105,drawing,"[IMG_0737.MOV, IMG_1365.MOV, IMG_0815.MOV, IMG...",21
122,food,"[IMG_1363.MOV, IMG_0727.MOV, IMG_1834.MOV, IMG...",50
127,game,"[IMG_0719.MOV, IMG_1564.MOV, IMG_1835.MOV, IMG...",26
128,glasses,"[IMG_1374.MOV, IMG_0730.MOV, IMG_1177.MOV, IMG...",52
137,hands,"[IMG_1567.MOV, IMG_1083.MOV, IMG_0820.MOV, IMG...",13
140,horse,"[IMG_1823.MOV, IMG_1361.MOV, IMG_1361.MOV, IMG...",19
158,laptop,"[IMG_1374.MOV, IMG_0730.MOV, IMG_0725.MOV, IMG...",11
164,man,"[IMG_0903.MOV, IMG_0718.MOV, IMG_1374.MOV, IMG...",145
171,meme,"[IMG_1361.MOV, IMG_1363.MOV, IMG_0726.MOV, IMG...",28
182,movie,"[IMG_0718.MOV, IMG_0828.MOV, IMG_0828.MOV, IMG...",20
185,music,"[IMG_1809.MOV, IMG_1831.MOV, IMG_0735.MOV, IMG...",17
186,musical instrument,"[IMG_1809.MOV, IMG_1831.MOV, IMG_0735.MOV, IMG...",15
187,mustache,"[IMG_0903.MOV, IMG_1374.MOV, IMG_0730.MOV, IMG...",43
205,plate,"[IMG_1561.MOV, IMG_0723.MOV, IMG_1471.MOV, IMG...",19
288,woman,"[IMG_0724.MOV, IMG_1002.MOV, IMG_1567.MOV, IMG...",63